body {
    background-image: url("ryouri245.png");
    background-repeat: repeat-y;
}

.haikei {
    background-color: #F9F2DE;
    width: 800px;
    height: 1850px;
    position: relative;
    /* right: 0;
    left: 0;
    margin: auto; */
    left: 50%;
    transform: translateX(-50%);
}

.title-flame {
    position: absolute;
    top: 72px;
    left: 72px;
}

.title {
    position: absolute;
    top: 128px;
    left: 184px;
}

.setsumei {
    position: absolute;
    top: 265px;
    left: 79px;
}

.button1 {
    position: absolute;
    top: 414px;
    left: 84px;
}

.button2 {
    position: absolute;
    top: 414px;
    left: 400px;
}

.flame {
    width: 623px;
    height: 1203px;
    position: absolute;
    top: 463px;
    left: 84px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000;
    background-color: #FFFFFF;
}

.sen1 {
    position: absolute;
    top: 421px;
    left: 159px;
}

.sen2 {
    position: absolute;
    top: 421px;
    left: 475px;
}

.question1 {
    width: 517px;
    height: 53px;
    position: absolute;
    top: 511px;
    left: 142px;
    background-color: #E98E65;
}

.answer1 {
    width: 517px;
    height: 133px;
    position: absolute;
    top: 564px;
    left: 142px;
    background-color: #F9F2DE;
}